// variables
@import 'variables';

// template
@import
	'template/bootstrap.min.css',
	'template/font-awesome.min.css',
	'template/owl.carousel.css',
	'template/owl.theme.css',
	'template/jquery.bxslider.css',
	'template/jquery.mobile-menu.css',
	'template/revslider.css',
    'template/blogmate.css',
    'template/cloudzoom.css',
    'template/fancybox.css',
    'template/jquery.fancybox.css',
    'template/style.css';

@import 'common';

//// components
//@import
//	'components/buttons',
//	'components/header',
//	'components/footer',
//	'components/breadcrumbs',
//	'components/product',
//	'components/tabs',
//	'components/checkbox',
//	'components/stars-list',
//    'components/comment';
//// page
//@import
//	'page/home',
//	'page/category',
//	'page/product';
